<h1>Programme#show</h1>
<h2>show</h2>
<h4>Name <%= @programme.name %></h4><br />
<h4>Channel Name <%= @programme.channel.name %></h4><br />
<h4>Created at <%= @programme.created_at %></h4><br />
<h4>Updated at <%= @programme.updated_at %></h4><br />
