<div class="container-fluid">
	<div class="row-fluid">
		<h3>Friend Requests</h3>
		<p>Search: <input type="text" ng-model="search" class="search-query" placeholder="Enter a name or email here"><p>
		<table class="table table-bordered pull-left">
		    <thead>
		    	<th>Id</th>
		    	<th>Name</th>
		    	<th>Email</th>
		    	<th>Action</th>
		    </thead>
		    <tr ng-repeat="friendRequest in friendRequests.data | filter:search" >
		    	<td>{{friendRequest.user_id}}</td>
		        <td>{{friendRequest.name}}</td>
		        <td>{{friendRequest.email}}</td>
		        <td><a ng-click = 'approveRequest(friendRequest.user_id)' class="btn small btn-success">Approve</a> <a ng-click = 'ignoreRequest(friendRequest.friendship_request_id)' class="btn small btn-danger">Ignore</a></td>
		    </tr>
		</table>
	</div>
</div>